* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
}

header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding: 40px 20px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  color: #999;
}
.image-container {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.image-container img {
  width: 80%;
  height: 60%;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

.resume-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.resume-button:hover {
  background-color: #0056b3;
}

.image-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.image-link:hover {
  background-color: #0056b3;
}

.image-link img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.image-link span {
  font-size: 16px;
  font-weight: bold;
}

